{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header">
            <div class="header_logo">
                <img src="{% static 'img/logo.svg' %}" alt="">
                <h1>Форматирование <br> курсовых <br> работ</h1>
            </div>
            <nav class="header_nav">
                <ul>
                    <li>
                        <span>Первый раз на сайте</span>
                    </li>
                    <li>
                        <span>Руководство и рекомендации</span>
                    </li>
                    <li>
                        <span>Отзывы</span>
                    </li>
                    <li>
                        <span>О нас</span>
                    </li>
                </ul>
                <button class="button_head">
                    <img src="{% static 'img/button_head.svg' %}" alt="">
                    <h3>{{username}}</h3>
                </button>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Контент будет подставляться сюда -->
        {% endblock %}
    </main>
    <footer>
        <div class="footer_all">
            <div class="header_logo">
                <img src="{% static 'img/logo.svg' %}" alt="">
                <h1>Форматирование <br> курсовых <br> работ</h1>
            </div>
            <div class="netw_price">
                <div class="soc_netw">
                    <span>Можете найти нас:</span>
                    <img src="{% static 'img/i1.jpg' %}" alt="">
                    <img src="{% static 'img/i2.jpg' %}" alt="">
                </div>
                <img class="pr" src="{% static 'img/price.jpg' %}" alt="">
            </div>
            <div class="contacts">
                <h3>Служба технической поддержки:</h3>
                <a href="mailto:lol20033002lol@gmail.com">Email: lol20033002lol@gmail.com</a>
                <a href="tel:+79842702595">tel:+79842702595</a>
                <span>Режим работы: Круглосуточно</span>
            </div>
        </div>
    </footer>
    <button id="lkj">Удалить</button>
    <h1>Frontend to Backend to Frontend</h1>
    <input type="text" id="userInput">
    <button id="sendButton">Нажми сюда</button>
    <h2>Response from Server:</h2>
    <div id="result"></div>
    <form id="upload-form">
        <input type="file" name="file" id="file-input" accept=".doc,.docx,.dot,.dotx,.docm,.dotm">
        <button type="submit">НАЖМИ</button>
    </form>
    <div id="download-link-container"></div>
    <script src="{% static 'js/about_us.js' %}"></script>
</body>
</html>