header {
    background-color: #74befb;
    height: 90px;
    width: 100%;
    padding: 0 24px;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.logo img {
    width: 54px;
    height: 54px;
}
    
.logo_text {
    font-weight: 700;
    font-size: 28px;
}

header ul {
    display: flex;
    gap: 30px;
}

header li {
    list-style: none;
    font-weight: 600;
    font-size: 22px;
}

header li a{
    text-decoration: none;
    color: black;
}

/* .reg_log {
    display: flex;
    gap: 20px;
}

.reg_log button {
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
} */

.reg_log {
    display: flex;
    gap: 8px;
    border: 2px solid #000;
    border-radius: 30px;
    width: 128px;
    height: 48px;   
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent;
    font-weight: 700;
    font-size: 26px; 
}

.reg_log img {
    width: 21.78px;
    height: 28px;
    stroke-width: 10;
}

/* .reg_log button {
    background-color: transparent;
    font-weight: 700;
    font-size: 26px;    
} */