{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reglog.css' %}">
</head>
<body>
    <div class="er">
        <section class="wrapper">
            <h1>Войти</h1>
            <form class="reg">
                <div class="input-box">
                    <input type="tel" placeholder="Ваш телефон" id="tel" required>
                    <img src="{% static 'img/lock.svg' %}" alt="">
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Адрес электронной почты" id="email" required>
                    <img src="{% static 'img/lock.svg' %}" alt="">
                </div>
                <div id="skr_name" class="input-box skr">
                    <input type="text" placeholder="Ваше имя" id="name" required>
                    <img src="{% static 'img/lock.svg' %}" alt="">
                </div>
                <div id="skr_password" class="input-box skr">
                    <input type="password" placeholder="Придумайте пароль" id="password" required>
                    <img src="{% static 'img/lock.svg' %}" alt="">
                </div>
                <button type="submit" id="submit" class="note_name">Вход</button>
                <div class="regg">
                    <p>У вас нет учетной записи?</p>
                    <button type="submit" id="submit_2">Регистрация</button>
                </div>
            </form>
        </section>
    </div>
    <button id="jwt">проверка jwt</button>
    <!-- <script src="./reglog.js"></script> -->
    <script src="{% static 'js/reg_log_for_server.js' %}"></script>
</body>
</html>