{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main_fone">
        <section class="container_4">
            <div class="we">
                <h2>О нас</h2>
                <div class="indent_p">
                    <p>Сервис "Форматирование Курсовых Работ" предоставляет возможность форматирования курсовых работ по современным ГОСТам и стандартам вашего института.</p>
                    <p>Мы предлагаем приемлемую цену для любого студента, вне зависимости от его бюджета.</p>
                    <p>Вам не нужно ждать отформатированный файл часами. Загруженный вами документ сразу попадет в обработку. Мы работаем круглосуточно.</p>
                    <p>Мы понимаем ценность вашего времени, сил и нервов, и именно поэтому предлагаем вам наши услуги форматирования курсовых работ.</p>
                    <p>Наш сервис постоянно развивается, поэтому мы будем рады вашим предложениям и замечаниям.</p>
                    <p>Если вас заинтересовал данный сервис, то вы можете порекомендовать наши услуги своим друзьям и знакомым.</p>
                </div>
            </div>
        </section>
        <section class="container_4">
            <div class="advantages">
                <h2>Наши преимущества</h2>
                <div class="advantages_all">
                    <div class="advantage advantage1">
                        <img src="{% static 'img/svg_pen/cont_hierarchy/color1.jpg' %}" alt="">
                        <h3>Низкая цена</h3>
                    </div>
                    <div class="advantage advantage2">
                        <img src="{% static 'img/svg_pen/cont_hierarchy/color1.jpg' %}" alt="">
                        <h3>Скорость работы</h3>
                    </div>
                    <div class="advantage advantage3">
                        <img src="{% static 'img/svg_pen/cont_hierarchy/color1.jpg' %}" alt="">
                        <h3>Актуальность норм</h3>
                    </div>
                    <div class="advantage advantage4">
                        <img src="{% static 'img/svg_pen/cont_hierarchy/color1.jpg' %}" alt="">
                        <h3>Возврат средств</h3>
                    </div>
                    <div class="advantage advantage5">
                        <img src="{% static 'img/svg_pen/cont_hierarchy/color1.jpg' %}" alt="">
                        <h3>Открытость к предложениям</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="container_4">
            <div class="questions">
                <h2>Часто задаваемые вопросы</h2>
                <div class="questions_all">
                    <div class="question questions1">
                        <p>Почему меня отчислили?</p>
                    </div>
                    <div class="question questions2">
                        <p>Я забыл дорогу в университет и теперь сижу в воинкомате?</p>
                    </div>
                    <div class="question questions3">
                        <p>Я не купил у вас работу и меня отчислили, что делать?</p>
                    </div>
                    <div class="question questions4">
                        <p>Почему меня отчислили?</p>
                    </div>
                    <div class="question questions5">
                        <p>Почему я так долго верстаю эту хуйню?</p>
                    </div>
                </div>
                <div class="points">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </section>
        <div class="ij">
            <img class="temas" src="{% static 'img/sun-svgrepo-com3.svg' %}" alt="">
            <img class="teman" src="{% static 'img/moon-dark-theme-svgrepo-com.svg' %}" alt="">
        </div>
    </main>
{% endblock %}