*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
::-webkit-scrollbar {
    width: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    background-color: #EAEAEA;
    min-height: 100vh;
}
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    /* line-height: 1; */
}
button{
    text-decoration: none;
    border: none;
}
/* img {
    vertical-align: bottom;
} */




.container{
    width: 1110px;
    margin: 0 auto;
}
.container_2{
    width: 1254px;
    margin: 0 auto;
}
.container_3{

}
.container_4{
    width: 1200px;
    margin: 0 auto;
}



/* ШАПКА */
header{
    display: flex;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: absolute;
}
.header_logo{
    background-color: rgba(136, 47, 47, 0.8);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header_logo h1{
    font-weight: 400;
    font-size: 15px;
    color: #000;
    width: 120px;
}
.header_logo img{
    width: 80px;
    height: 80px;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
}
/* header ul li .block{
    width: 100%;
    height: 3px;
    background-color: brown;
    margin-top: 5px;
} */
header ul li span{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 4px solid brown;
}

header ul li span:hover{
    transition: 80ms;
    border-bottom: 4px solid #fff;
    color: brown;
    font-size: 21px;
}
/* header ul li:hover{
    font-weight: 700;
    font-size: 20px;
    color: brown;
}
header ul li .block:hover{
    background-color: #fff;
} */

header .button_head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #882f2f;
    background-color: transparent;
    width: 200px;
}



/* MAIN */
.main_obj{
    background-image: url("../img/main_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1160px;
    padding-top: 200px;
}


.up_file{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}
.up_area{
    width: 1080px;
    height: 700px;
    border-radius: 90px;
    background: rgba(19, 17, 17, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.up_area_file{
    width: 700px;
    height: 460px;
    border-radius: 90px;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_area_file_svg{
    width: 660px;
    height: 390px;
}
.up_area h2{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #d9d9d9;
}


/* MAIN_2 */
.mini_guide{
    background-image: url("../img/fone_main_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3040px;
}
.ower{
    background: rgba(19, 17, 17, 0.7);
    height: 3140px;
    position: relative;
    top: -100px;
   backdrop-filter: blur(3px);
}
/* .oower{
    background: rgba(19, 17, 17, 0.7);
    height: 200px;
}*/



.guide_cont {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
}

/* .guide_cont .areaAll1{
    position: relative;
    top: 120px;
    left: 100px;
    width: 579px;
    height: 585px;
}
.guide_cont #area1{
    width: 579px;
    height: 585px;
}
.guide_cont .areaAll2{
    position: absolute;
    right: 150px;
    top: 760px;
    width: 489px;
    height: 578px;
}
.guide_cont #area2{
    width: 489px;
    height: 578px;
}
.guide_cont .areaAll3{
    position: relative;
    top: 500px;
    left: 340px;
    width: 498px;
    height: 618px;
}
.guide_cont #area3{
    width: 498px;
    height: 618px;
}
.guide_cont .areaAll4{
    position: absolute;
    right: 100px;
    top: 2300px;
    width: 552px;
    height: 679px;
}
.guide_cont #area4{
    width: 552px;
    height: 679px;
} */

.guide_cont #arrow1{
    width: 265px;
    height: 370px;
    position: absolute;
    top: 400px;
    right: 530px;
}
.guide_cont #arrow2{
    width: 340px;
    height: 434px;
    position: relative;
    top: 460px;
    left: 500px;
}
.guide_cont #arrow3{
    width: 310px;
    height: 450px;
    position: absolute;
    top: 1800px;
    right: 320px;
}





.areaAll1, .areaAll2, .areaAll3, .areaAll4{
    width: 610px;
    height: 698px;
    border: 12px solid #fff;
    border-radius: 100px;
    padding: 46px 42px;
    color: white;
}

.guide_cont .areaAll1{
    position: relative;
    top: 120px;
    left: 100px;

}

.guide_cont .areaAll2{
    position: absolute;
    right: 100px;
    top: 840px;

}

.guide_cont .areaAll3{
    position: relative;
    top: 428px;
    left: 100px;

}

.guide_cont .areaAll4{
    position: absolute;
    right: 100px;
    top: 2280px;

}

.d1{
    width: 120px;
    height: 360px;
    border: 6px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1 img{
    width: 79px;
    height: 280px;
}

.d2{
    width: 360px;
    height: 360px;
    border: 6px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d3{
    position: absolute;
    bottom: 46px;
    width: 502px;
    height: 200px;
    border: 6px solid #fff;
    border-radius: 30px;
}

.dd{
    display: flex;
    justify-content: space-between;
}



.cont_hierarchy{
    
}

.cont_hierarchy h3{
    text-align: center;
}

.cont_hierarchy p{

}

.hierarchy_elements{
    list-style: none;
}

.hierarchy_elements li{

}

.hierarchy_elements img{
    width: 40px;
    height: 40px;
}

.areaAll2, .areaAll3, .areaAll4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.areaAll2 img, .areaAll3 img, .areaAll4 img{
    width: 260px;
    height: 312px;
}









/* .personal_account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: flex;
    gap: 40px;
}

.head h3{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.mini_board{
    background: rgba(216, 216, 216, 0.83);
    width: 1000px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #1c1919;
}
.mini_board span:nth-child(1){
    color: #882f2f;
    margin-right: 50px;
}
.mini_board span:nth-child(2){
    color: #882f2f;
    margin-right: 50px;
}
.mini_board span:nth-child(3){
    color: #882f2f;
    margin-right: 50px;
}
.mini_board span:nth-child(4){
    color: #882f2f;
    margin-right: 50px;
} */



















.personal_account{
    display: flex;
    justify-content: center;
}
.board tbody tr{
    height: 100px;
    background-color: rgba(216, 216, 216, 0.83);
}
.board tbody tr th:not(:last-child){
    
}


.board {
    border: 0;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.board th{
    padding: 5px 30px;
}








.main_fone{
    background-image: url("../img/fone_main_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 2160px;
    padding-top: 200px;
}

.we{
    width: 1200px;
    height: 420px;
    border-radius: 30px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 60px;
}

.indent_p{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.advantages{
    /* width: 1200px; */
    height: 200px;
    border-radius: 30px;
    background-color: #d9d9d9;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px 40px;
}

.advantages_all{
    display: flex;
    gap: 30px;
}

.advantage{
    text-align: center;
}

.questions{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-radius: 30px;
    background-color: #d9d9d9;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px 30px;
}

.question{
    background: #5c5757;
    border-radius: 20px;
    width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.question:not(:last-child){
    margin-bottom: 20px;
}

.points{
    display: flex;
    gap: 20px;
}

.circle{
    width: 18px;
    height: 18px;
    border-radius: 30px;
    background-color: #5c5757;
}









/* ПОДВАЛ */
/* main{
    background-image: url("../img/fone_podv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
} */


footer{
    /* position: sticky;  
    bottom: 0;
    width: 100%; */
    /*     position: absolute;*/  
}
footer .header_logo{
    border-radius: 10px;
}
.footer_all{
    width: 100%;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}


.contacts{
    display: flex;
    flex-direction: column;
}

.soc_netw img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.netw_price .pr{
    border-radius: 10px;
    width: 507px;
    height: 50px;
}

.header_logo {
    width: 240px;
    height: 90px;
}



.ij{
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.temas, .teman{
    width: 44px;
    height: 44px;
    position: absolute;
    transition: 10ms;
    /* filter: invert(20%) sepia(100%) saturate(7000%) hue-rotate(320deg) brightness(85%) contrast(102%); */
}
.temas{
    opacity: 1;
}
.teman{
    opacity: 0;
}

.color_white{
    color: #fff;
}
